<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <title>Hexaflex yourself</title>
        <script src="webcam.js"></script>
        <script src="vue.js"></script>
        <script src="blobstream.js"></script>
        <script src="pdfkit.js"></script>
        <script src="svg-pdfkit.js"></script>
        <link rel="stylesheet" href="style.css"></link>
    </head>
    <body>
        <div id="app" :data-mode="[mode]">
            <section id="take-photo" :class="{show:mode=='take-photo'}">
                <div id="camera-container" @click="take_snapshot">
                    <div id="camera"></div>
                    <div id="overlay"v-hexagon></div>
                </div>
                <p class="help-text">Make a hexaflexagon with a photo of yourself!</p>
                <p class="help-text">First, take a photo of yourself. Make sure you fit inside the hexagon!</p>
                <nav>
                    <button class="primary" type="button" @click="take_snapshot">Tap here to take a snapshot</button>
                </nav>
            </section>
            <section id="confirm-photo" :class="{show:mode=='confirm-photo'}">
                <div id="result-container" style="width: 480px; height: 480px;" v-hexagon><img v-if="data_uri!==null" :src="data_uri"></div>
                <p>Is this photo OK?</p>
                <nav>
                    <button type="button" @click="retake">↻ Try again</button>
                    <button class="primary" type="button" @click="confirm_photo">✓ Use this photo</button>
                </nav>
            </section>

            <section id="show-hexaflexagon" :class="{show:mode=='show-hexaflexagon'}">
                <div id="svg-container">Loading...</div>
                <nav>
                    <button type="button" @click="retake">↻ Start again</button>
                    <a class="primary" v-if="download_url!==null" :href="download_url" target="hexaflexagon-pdf">⇣ Download</a>
                </nav>
            </section>
        </div>
        <script src="thing.js"></script>
    </body>
</html>
