html {
    font-size: 13px;
    font-family: sans-serif;
}
@media screen and (min-width:720px) {
    html {
        font-size: 20px;
    }
}
body {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
}

section:not(.show) {display:none;}

section {
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
}

#camera-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 480px;
}
#camera video {
    margin-left: 0px;
}
#overlay {
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: rgba(255,255,255,0.5);
    left: 0;
    top: 0;
}

#result-container {
    margin: 0 auto;
}
#result-container img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: inherit;
    object-position: center;
}

#svg-container svg {
    width:100%;
    height: auto;
}

nav {
    margin-top: 1rem;
    display:flex;
}
nav > * {
    flex: 1;
    background: #eee;
    border: none;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
nav > *~* {
    margin-left: 1rem;
}
nav > :not(:last-child) {
    margin-right: 1rem;
}
nav > a {
    text-decoration: none;
    color: inherit;
}
nav > .primary {
    color: hsl(240,100%,40%);
    background: hsl(240,60%,90%)
}
